body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: "Segoe UI";
    font-size: 16px;
    line-height: 20px;
}

.jumbotron{
    background-color: #333;
}

.container {
    color: white;
    width: 33.3333%;
    display: inline-block;
    background-color: #333;
    text-align:center;
    padding: 1%;
    
}

.imagem{
    width: 800px;
    height: 800px;
    background-image: url('../images/Fundo.png');
    background-repeat: no-repeat;
    background-size: 717px;
    background-position: right;
    display: inline-block;
    padding: 1%;

}

.link-button {
    color: white;
    background-color: #0066B8;
    margin: 0.2rem;
    height: 4.5rem;
    display: inline-block;
    width: 70%;
    padding: 1%;
}

.other-button{
    background-image: url('../images/down.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0066B8;   
     display: inline-block;
    margin: 0.2rem;
    height: 2.4rem;
}


.navbar {
    position: fixed;
    right: 0;
    left: 0;

    background-color: #2C2C32;
    height: 50px;
}

@media screen and (min-width: 768px) {
    .linkWrapper {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .linkWrapper {
         width: 970px;
    }
}

@media screen and (min-width: 1200px) {
    .linkWrapper {
        width: 1170px;
    }
}

.linkWrapper {
    /*width: 1170px;*/
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.linkWrapper a {
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 17px;
    padding-bottom: 13px;
}

.linkWrapper a:hover {
    opacity: 1;
}

.linkWrapper li{
    display: inline;
}

.navBarLogo a {
    position: relative;
    background-image: url('../images/logo.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left 50%;
    float: left;
}

.navBarLogo a span {
    font-size: 20px;
    padding-left: 36px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navBarLogo a {
    opacity: 1;
}



.navBarLinks {
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 17px;
    padding-bottom: 13px;

}

.navBarButtons {
    float: right;
    height: 50px;
}

.navInput input{
    color: #fff;
    background-color: #444;
    width: 183px;
    border: none;
    height: 50px;
    padding: 6px 15px 6px 40px;
}

.navBarDownload {
    height: 50px;
    padding: 17px 20px;
    padding-left: 40px;
    background-color: #0066B8;
    color: #fff;
}
