body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: "Segoe UI";
    font-size: 16px;
    line-height: 20px;
    background-color: #333;
}

.jumbotron{
    display: inline;
}

.jumbotron p {
    font-weight: 300;
}

.jumbotron .imagem .screenshot {
    padding-bottom: 68%;
}

.container {
    color: white;
    width: 33.3333%;
    display: inline-block;
    text-align:center;
    padding: 1%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    .container {
        width: 100%;
    }
}

.apiContainer {
    display: flex;
    float: right;
}

.imagem{
    width: 800px;
    height: 800px;
    background-image: url('../images/Fundo.png');
    background-repeat: no-repeat;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.imagem.hide {
    display: none;
}

.apiCripto {
    color: #fff;
    background-color: #25252B;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    display: none;
    float: right;
    margin: 100px;
}

.apiCripto.show{
    display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    .imagem {
        width: 100%;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .imagem {
        background-size: 617px;
    }
}

@media (min-width: 1200px) {
    .imagem {
        background-size: 750px;
    }
}

.link-button {
    color: white;
    background-color: #0066B8;
    margin: 0.2rem;
    height: 4.5rem;
    display: inline-block;
    width: 70%;
    padding: 1%;
    border: none;
    font-size: 1.4rem;
}



.other-button{
    background-image: url('../images/down.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0066B8;   
    display: inline-block;
    margin: 0.2rem;
    height: 4.5rem;
    border: none;
    width: 43px;
    position: absolute;
}

.mainLinks {
    background-color: #25252B;
    border-radius: 8px;
    padding: 8px 8px;
}

.mainLinks a {
    text-decoration: none;
    color: #0066B8;
    
}

.wrap-together a {
    text-decoration: none;
    color: #0066B8;;
}

/* NAVIGATION BAR */

.navbar {
    position: fixed;
    right: 0;
    left: 0;
    background-color: #2C2C32;
    height: 50px;
}

@media screen and (min-width: 768px) {
    .linkWrapper {
        width: 750px;
    }
}

@media screen and (min-width: 992px) {
    .linkWrapper {
         width: 970px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navInput {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .linkWrapper {
        width: 1170px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    .navBarLinks {
        display: none;
    }
    .navBarButtons {
        display: none;
    }
}

.linkWrapper {
    /*width: 1170px;*/
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.linkWrapper a {
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 17px;
    padding-bottom: 13px;
}

.linkWrapper a:hover {
    opacity: 1;
}

.linkWrapper li{
    display: inline;
}

.navBarLogo a {
    position: relative;
    background-image: url('../images/logo.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left 50%;
    float: left;
}

.navBarLogo a span {
    font-size: 20px;
    padding-left: 36px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navBarLogo a {
    opacity: 1;
}

.navBarLinks {
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 17px;
    padding-bottom: 13px;

}

.navBarButtons {
    float: right;
    height: 50px;
}

.navUsuario {
    color: #fff;
    padding-right: 15px;
}

@media screen and (min-width: 768px) {
    .navInput input{
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .navInput input{
         display: inline-block;
}

.navBarLogin button{
    height: 50px;
    padding: 17px 20px;
    background-color: #0066B8;
    text-decoration: none;
    border: none;
    color: #fff;
    text-align: center;
}

.loginDialog {
    display:inline-block;
}

.loginDialog.hide {
    display: none;
}

.navBarCadastro button{
    height: 50px;
    padding: 17px 20px;
    background-color: #0066B8;
    text-decoration: none;
    border: none;
    color: #fff;
    text-align: center;
}

.cadastroDialog {
    display:inline-block;
}

.cadastroDialog.hide {
    display: none;
}

.sair {
    display: none
}

.sair.show {
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .navBarDownload span{
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .navBarDownload span{
         display: inline-block;
}

.dialog {
    background-color: #25252B;
    padding: 10px;
    width: 200px;
    position: absolute;
    display: none;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}

.dialog div input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dialogButtons {
    background-color: #0066B8;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 5px;
    border: #25252B;
    border-radius: 3px;
}

.dialog.show {
    display: block;
}

.errorMsg {
    color: crimson;
    font-size: 10px;
    display: block
}}}